<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Import geoJSON</title>
  </head>

  <body>

    <h2>geoJSON</h2>
    <!-- Form to import and submit geoJSON -->
    <form  action="/saveRegionBorders" method="post" enctype="multipart/form-data">
      
      <label for="geojsonImportButton">Choose a geoJSON file:</label>

      <br />

      <!--* Button to select the geoJSON to send to the server -->
      <!-- Only accept files with the .geojson extension -->
      <input
        type="file"
        id="geojsonImportButton"
        name="geojson"
        accept=".geojson"
      />


      <!--* Button to send the geoJSON to the server -->
      <div>
        <button>Submit</button>
      </div>
    </form>


    <h2>Database deletes</h2>

    <!-- Form to delete the weather collection -->
    <form  action="/deleteAll" method="post">

      <!--* Button to send the post request to the server -->
      <div>
        <button>Delete all database collections</button>
      </div>

    </form>

    <!-- Form to delete the coordinates reference system collection -->
    <form  action="/deleteCRS" method="post">

      <!--* Button to send the post request to the server -->
      <div>
        <button>Delete CRSs in database</button>
      </div>

    </form>

    <!-- Form to delete the region borders collection -->
    <form  action="/deleteRegionBorders" method="post">

      <!--* Button to send the post request to the server -->
      <div>
        <button>Delete region borders in database</button>
      </div>

    </form>

    <!-- Form to delete the weatherDates collection -->
    <form  action="/deleteWeatherDates" method="post">

      <!--* Button to send the post request to the server -->
      <div>
        <button>Delete weather dates in database</button>
      </div>

    </form>

    <!-- Form to delete the weather collection -->
    <form  action="/deleteWeather" method="post">

      <!--* Button to send the post request to the server -->
      <div>
        <button>Delete weather of regions in the database</button>
      </div>

    </form>


  </body>
</html>
