<!-- https://www.section.io/engineering-education/building-simple-maps-using-leaflet-js/ -->

<html lang="en">
  <head>
    <!--! Meta Information -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>

    <!--! Dependencies -->

    <!-- https://leafletjs.com/SlavaUkraini/examples/quick-start/ -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <!-- http://kartena.github.io/Proj4Leaflet/ -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="proj4.js"></script>
    <script src="proj4leaflet.js"></script>

    <!--! Style -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        width: 100%;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>
  </body>

  <script>
    //! Map
    let map = L.map("map", {
      center: [38.686796, -9.128914], // The coordinates the map is in when first loaded
      zoom: 8, // The zoom level the map has when first loaded
    });

    //! Map tile layer
    let mapLayer = L.tileLayer(
      "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      {
        noWrap: true, // If false, the map wraps around itself, repeating itself
      }
    ).addTo(map);

    // Load geoJSON and project it to the map
    async function loadGeoJSON() {
      //! Fetch the geoJSON from the backend
      console.log("Started fetching the geoJSON from the backend.");
      const geojsonResponse = await fetch(
        "http://localhost:8000/getRegionBorders"
      );
      let geojson = await geojsonResponse.json();

      console.log(
        "Received geoJON with the following projection: ",
        geojson.crs.properties.name
      );

      //! Fetch the projection information to use in the proj4 library, so the coordinates can be correctly projected to the map
      console.log("Started fetching the projection information from epsg.io.");

      let projectionNumber = geojson.crs.properties.name.split("::")[1]; // The number of the EPSG projection, used to fetch the projection information from an external API
      let projectionInformationURL =
        "https://epsg.io/" + projectionNumber + ".proj4"; // The URL of the projection information
      const projectionResponse = await fetch(projectionInformationURL);
      projectionInformation = await projectionResponse.text();

      let projectionName = "urn:ogc:def:crs:EPSG::" + projectionNumber // Parses the projection name, to be used by the proj4 library
      proj4.defs(projectionName, projectionInformation); // Tells the proj4 library to use the projection information returned from the external API

      L.Proj.geoJson(geojson).addTo(map);

      // proj4.defs(
      //     "urn:ogc:def:crs:EPSG::3763",
      //     // https://www.dgterritorio.gov.pt/geodesia/sistemas-referencia/portugal-continental/PT-TM06-ETRS89?language=en
      //     // https://spatialreference.org/ref/epsg/etrs89-portugal-tm06/proj4/
      //     "+proj=tmerc +lat_0=39.66825833333333 +lon_0=-8.133108333333334 +k=1 +x_0=0 +y_0=0 +ellps=GRS80 +units=m +no_defs "
      //   );

      // //* If geojson sent by the server uses the EPSG Projection 3763
      // if (geojson.crs.properties.name == "urn:ogc:def:crs:EPSG::3763") {
      //   console.log(
      //     "Received geoJSON with EPSG Projection 3763 - ETRS89 / Portugal TM06"
      //   );
      //   console.log("Using proj4 to correctly project the coordinates.");
      //   proj4.defs(
      //     "urn:ogc:def:crs:EPSG::3763",
      //     // https://www.dgterritorio.gov.pt/geodesia/sistemas-referencia/portugal-continental/PT-TM06-ETRS89?language=en
      //     // https://spatialreference.org/ref/epsg/etrs89-portugal-tm06/proj4/
      //     "+proj=tmerc +lat_0=39.66825833333333 +lon_0=-8.133108333333334 +k=1 +x_0=0 +y_0=0 +ellps=GRS80 +units=m +no_defs "
      //   );
      //   L.Proj.geoJson(geojson).addTo(map);
      // }

      // //* If geojson sent by the server uses the EPSG Projection 4258
      // else if (geojson.crs.properties.name == "urn:ogc:def:crs:EPSG::4258") {
      //   console.log(
      //     "Received geoJSON using EPSG Projection 4258 - ETRS89 / Portugal TM06 "
      //   );
      //   console.log("Using projection: ", geojson.crs.properties.name);
      //   L.geoJson(geojson).addTo(map);
      // }
    }
    loadGeoJSON();

    // let marker = L.marker([9.082, 8.6753]).addTo(map);

    let Basemaps = {
      OSM: mapLayer,
    };

    let Overlaymaps = {
      // Marker: marker,
    };

    L.control.layers(Basemaps, Overlaymaps).addTo(map);

    function getColor(d) {
      return d > 1000
        ? "#800026"
        : d > 500
        ? "#BD0026"
        : d > 200
        ? "#E31A1C"
        : d > 100
        ? "#FC4E2A"
        : d > 50
        ? "#FD8D3C"
        : d > 20
        ? "#FEB24C"
        : d > 10
        ? "#FED976"
        : "#FFEDA0";
    }
  </script>
</html>
